h1{
   color: white
}

h2{
    color:aliceblue 
}
h3{
    color:
}
h4{
    color:aliceblue 
 }
h5{
    color:aliceblue 
 }
 h6{
    color:aliceblue 
 }
 a{
    color:rgb(230, 47, 2);
 }
 p{
    color:aliceblue
 }