body {
    text-align: centre;
  }
    hr {
      background-color: white;
      border-style: none;
      border-top-style: dotted ;
      height: 0px;
      width: 100px;
    }
    p {
      color: green;
      text-align: centre;
    }
    h3 {
      text-align: center;
    }
  
    img {
      height: 500px;
    }
  